<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="test">
  <xacro:property name="length" value="0.6"/>
  <xacro:property name="radius" value="0.2"/>
  <link name="base_link">
    <visual>
      <geometry>
        <cylinder length="${length}" radius="${radius}"/>
      </geometry>
      <material name="blue"/>
    </visual>
  </link>
</robot>
